.meat,
.cheese,
.bacon,
.lettuce {
    min-height: 1rem;
    min-width: 110%;
    border: 1px solid black;
    margin: 0.2rem 0;
}

.meat {
    background: brown;
    min-width: 112%;
    min-height: 2rem;
    border-radius: 2rem;
}

.cheese {
    background: yellow;
    min-width: 105%;
    min-height: 1.25rem;
    border-radius: 1rem;
}

.bacon {
    background: #e34040;
}

.lettuce {
    background: greenyellow;
    min-width: 102%;
    min-height: 1.25rem;
    border-radius: 1rem 1rem 0 0;
}

.burger-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    height: 39.35vh;
    overflow-y: scroll;
    width: 100%;
    margin-top: 2rem;
}

.top-bun{
    width: 100%;
    min-height: 5rem;
    background: #eea929;
    border-radius: 5rem 5rem 0 0;
}
.bottom-bun{
    min-width: 100%;
    min-height: 3rem;
    background: #eea929;
    border-radius: 0 0 5rem 5rem;
}
.empty{
    padding: 1rem 0;
}

.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;

}

@media screen and (max-width: 1150px){
    .burger{
        width: 35%;
    }
}

@media screen and (max-width: 950px){
    .burger{
        width: 40%;
    }
}

@media screen and (max-width: 830px){
    .burger{
        width: 45%;
    }
}

@media screen and (max-width: 670px){
    .burger{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .burger{
        width: 70%;
    }
}