.ingredients{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ingredient-container{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.price-container{
    margin: 1rem 0;
}

.price-container span{
    font-weight: 800;
}

.order-item-container{
    border: 2px solid black;
    padding: 1rem 0.5rem 0 1rem;
    margin-bottom: 1rem;
}